<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Internetowy Kontroler Urządzeń - Panel sterowania</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/control/css/bootstrap.css" rel="stylesheet">
    <link href="/static/control/switch/bootstrap-switch-master/dist/css/bootstrap3/bootstrap-switch.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/control/css/jumbotron.css" rel="stylesheet">
	<!-- todo: remove unnecesary bootstrap switch files -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>


    <![endif]-->

  </head>

  <body>

      <script src="/static/control/js/jquery-1.8.2.min.js"></script>
      <script src="/static/control/js/highcharts.js"></script>
      <script src="/static/control/js/highcharts-more.js"></script>
      <script src="/static/control/js/solid-gauge.js"></script>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Internetowy Kontroler Urządzeń</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if not user.is_authenticated %}
          <form method="post" action="login" class="navbar-form navbar-right" role="form">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" name="username" placeholder="Username" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" name="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>

          {% else %}
          <form method="post" action="logout" class="navbar-form navbar-right" role="form">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Log out</button>
          </form>

          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <center><h1>Panel sterowania</h1></center>
          </div></div>

          {% if user.is_authenticated %}


<!-- improve todo: -->
        <div class="container">
            <div class="row">
              <div class="col-md-4">
                <center><h2>Urządzenie 1</h2>
		        <p>
                    <input id="sw01" type="checkbox" checked  data-handle-width="50">
                </p>
                <div class="btn-group">
                      <button type="button" data-switch-toggle="state" class="btn btn-default" number="01">Toggle</button>
                      <button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-default" number="01">Set true</button>
                      <button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default" number="01">Set false</button>
                      <button type="button" data-switch-reset="state" class="btn btn-default" number="01">Reset</button> <!-- rozkminic -->
                </div></center>
              </div>


              <div class="col-md-4">
                <center><h2>Urządzenie 2</h2></center>
		        <p>
                    <center><input id="sw02" type="checkbox" checked data-handle-width="50"></center>
                </p>
                 <center><div class="btn-group">
                      <button type="button" data-switch-toggle="state" class="btn btn-default" number="02">Toggle</button>
                      <button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-default" number="02">Set true</button>
                      <button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default" number="02">Set false</button>
                      <button type="button" data-switch-reset="state" class="btn btn-default" number="02">Reset</button> <!-- rozkminic -->
                </div></center></div>
                <div class="col-md-4">
                <center><h2>Urządzenie 3</h2></center>
		        <p>
                    <center><input id="sw03" type="checkbox" checked data-handle-width="50"></center>
                </p>
                 <center><div class="btn-group">
                      <button type="button" data-switch-toggle="state" class="btn btn-default" number="03">Toggle</button>
                      <button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-default" number="03">Set true</button>
                      <button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default" number="03">Set false</button>
                      <button type="button" data-switch-reset="state" class="btn btn-default" number="03">Reset</button> <!-- rozkminic -->
                </div></center></div>
                </div>
    <div class="row">
              <div class="col-md-4">
                <center><h2>Urządzenie 4</h2>
		        <p>
                    <input id="sw04" type="checkbox" checked  data-handle-width="50">
                </p>
                <div class="btn-group">
                      <button type="button" data-switch-toggle="state" class="btn btn-default" number="04">Toggle</button>
                      <button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-default" number="04">Set true</button>
                      <button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default" number="04">Set false</button>
                      <button type="button" data-switch-reset="state" class="btn btn-default" number="04">Reset</button> <!-- rozkminic -->
                </div></center>
              </div>


              <div class="col-md-4">
                <center><h2>Urządzenie 5</h2></center>
		        <p>
                    <center><input id="sw05" type="checkbox" checked data-handle-width="50"></center>
                </p>
                 <center><div class="btn-group">
                      <button type="button" data-switch-toggle="state" class="btn btn-default" number="05">Toggle</button>
                      <button type="button" data-switch-set="state" data-switch-value="true" class="btn btn-default" number="05">Set true</button>
                      <button type="button" data-switch-set="state" data-switch-value="false" class="btn btn-default" number="05">Set false</button>
                      <button type="button" data-switch-reset="state" class="btn btn-default" number="05">Reset</button> <!-- rozkminic -->
                </div></center></div>

              <div class="col-md-4">
               <center><h2>Czujnik światła</h2>
                <p>
		        <div id="gauge" style="width: 300px; height: 200px; float: left"></div>
	            </p></center>
              </div>
            </div>
        </div>


              <script src="/static/control/switch/bootstrap-switch-master/dist/js/bootstrap-switch.js"></script>
              <script type="text/javascript">
                $("[id='sw01']").bootstrapSwitch();
                $("[id='sw02']").bootstrapSwitch();
                $("[id='sw03']").bootstrapSwitch();
                $("[id='sw04']").bootstrapSwitch();
                $("[id='sw05']").bootstrapSwitch();



                $(function() {

                $('[data-switch-set]').on("click", function() {
                    var type = $(this).data('switch-set');
                    var value = $(this).data('switch-value');
                    var number = $(this).attr("number");

                    $('#sw' + number).bootstrapSwitch('state', $(this).data('switch-value'));

                    //AKCJA!//AKCJA!//AKCJA!//AKCJA!//AKCJA!//AKCJA!//AKCJA!
                            if(value == true) {
                                $.get('control/'+number+'/on')
                                console.log(number)
                            }
                            if(value == false) {
                                $.get('control/'+number+'/off')
                            }

                });

                $('[data-switch-toggle]').on("click", function() {
                    var type = $(this).data('switch-toggle');

                    var number = $(this).attr("number");

                    $('#sw' + number).bootstrapSwitch('toggle' + type.charAt(0).toUpperCase() + type.slice(1));
                    	$.get('/control/'+number+'/toggle')//AKCJA!

                });



                $('[data-switch-reset]').on("click", function() {
                    var number = $(this).attr("number");

                    $.get('/control/' + number + '/blink') //AKCJA!
                });

                $("input[id^='sw']").on('switchChange.bootstrapSwitch', function(event, state) {

                    var id = $(this).attr("id");
                    var number = id.substr(id.length - 2);//a po co to było? //chyba juz wiem

                    //AKCJA!//AKCJA!//AKCJA!//AKCJA!//AKCJA!
                    if (state == true) {
                        $.get('/control/' + number + '/on')
                    } else {
                        $.get('/control/' + number + '/off')
                    }
                });

            });
              </script>

          {% endif %}
      <hr>

        <div class="container">
          <footer>
        <p>&copy; Grzegorz Pietrusza & Michał Bardziński</p>
      </footer>
        </div>
            <script src="/static/control/js/light_sensor.js"></script>
  </body>
</html>
